<div class="card">
    <form (ngSubmit) = "SignUp()">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><label>Name</label></td>
                            <td><input type="text" name="_name"></td>
                        </tr>
                        <tr>
                            <td><label>Mail ID</label></td>
                            <td><input type="email" name="_mail"></td>
                        </tr>
                        <tr>
                            <td><label>Phone</label></td>
                            <td><input type="number" name="_phone"></td>
                        </tr>
                        <tr>
                            <td><label>Address</label></td>
                            <td><input type="text" name="_address"></td>
                        </tr>
                        <tr>
                            <td><label>UserName</label></td>
                            <td><input type="text" name="user_name"></td>
                        </tr>
                        <tr>
                            <td><label>Password</label></td>
                            <td><input type="text" name="pwd_1"></td>
                        </tr>
                        <tr>
                            <td><label>Confirm password</label></td>
                            <td><input type="text" name="pwd_2"></td>
                        </tr>
                        <tr>
                            <td><label>Upload image</label></td>
                            <td><input type="text" name="_image"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>